@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 html,body{
    display: grid;
    height: 100%;
    place-items: center;
    justify-content: center;
    background-color: #fff;
    /* background-image: url(./profile/Snapchat-526848110.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px 5px grey */
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}
.wrapper .title{
    line-height: 80px;
    background-color: #16a085;
    text-align: center;
    border-radius: 5px 5px 0 0 ;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.wrapper form{
    padding: 30px 20px 25px 20px;
}
.wrapper form .row{
    height: 45px;
    /* background-color: #ff0000; */
    margin-bottom: 15px;
    position: relative;

}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;

}
form .row input:focus{
    border-color: #16a085;
    box-shadow: 0px 0px 3px 3px rgba(26, 188, 156, 0.4);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    font-size: 18px;
    background-color: #16a085;
    border-radius: 5px 0 0 5px;
    border-radius: 1px solid #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.wrapper form .pass{
    margin: -8px 0 15px 0;
}
.wrapper form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}
.wrapper form .btn input{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-left: 0px;
    background-color: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    transition: all 0.5s ease;
}
form .btn input:hover{
    background-color: #12876f;
}
.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
}
.wrapper form .signup-link a{
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
}
form .signup-link a:hover{
    text-decoration: underline;

}

